body {
  font-family: Arial, sans-serif;
  padding: 20px;

  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

#lyrics-container {
  background: white;
  padding: 20px;
  border-radius: 30px;
  margin-top: 1%;
  margin-bottom: 5%;
  position: relative;
  z-index: 10;
  display: inline-block; 
  max-width: 100%; 
  white-space: normal;
  box-shadow: 0 0 15px rgba(0, 0, 0, 5);
}

.line {
  margin-bottom: 10px;
}

.chord {
  font-weight: bold;
  color: #b22222;
  margin-right: 5px;
}
.highlight {
  background-color: yellow;
  transition: background-color 0.3s ease;
}
