
/* lading animation */
.loader {
  --c: #000;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  text-shadow: 0 0 var(--c), 11ch 0 var(--c);
  animation: l6 2s infinite linear;
}
.loader:before {
  content: "Loading...";
}
@keyframes l6 {
  to {
    text-shadow: -11ch 0 var(--c), 0ch 0 var(--c);
  }
}

/* used to hide elements */
.hide {
  display: none;
}

.serch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.search-btn {
  /* flex-grow: 1; */
  color: #8e2d23;
  background-color: #2d3e55;
  /* border: 1px solid; */
  border-radius: 10px;
  font-size: 24px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.search-btn:hover,
.search-btn:focus {
  background-color: #8e2d23;
  color: #2d3e55;
}


