body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  align-items: center;
  background: black url(/signup-admin-key.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  background-color: rgba(108, 239, 94, 0.682);
  gap: 15px;
  margin: 5%;
  border-radius: 25px;
  border: solid rgb(109, 239, 94);
  padding: 1%;
}
input {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
input:hover {
  background-color: #c6e682;
}
form {
  gap: 20px;
}
